.container{
    width: 100%;
    height: calc(90vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Container{
    display: flex;
    width: 100%;
}
.Left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.Right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: #aaaaf2 solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    }
.a:hover, .area:hover, .inputs:hover{
    box-shadow: 2px 2px 2px 2px#aaaaf2;
}
.area{
    height: 200px;
    width: 450px;
    border-radius: 10px;
    border: 2px solid #aaaaf2;
    font-family: 'Courier New', Courier, monospace;
}
.inputs{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border: 2px solid #aaaaf2;
    width: 450px;
    height: 40px;
}
@media screen and (max-width: 480px){
    .container{
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Titulo{
        font-size: 20px;
    }
    .Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Left, .Right{
        height: 50%;
        width: 100%;
    }
    .inputs{
        font-family: 'Courier New', Courier, monospace;
        border-radius: 5px;
        border: 2px solid #aaaaf2;
        width: 350px;
        height: 40px;
    }
    .area{
        height: 200px;
        width: 350px;
        border-radius: 10px;
        border: 2px solid #aaaaf2;
        font-family: 'Courier New', Courier, monospace;
    }
    .a{
        margin-bottom: 10px;
    }
}