.container {
    height: 120px;
    border-top: 3px solid #AAAAF2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.cardOne {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 120px;
    border-left: #AAAAF2 solid 2px;
    border-right: #AAAAF2 solid 2px;
    font-size: 15px;
}

.cardThree {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.title {
    color: white;
    border-radius: 15px;
    background-color: #AAAAF2;
    padding: 15px;
}

.social,
.dev {
    font-size: 15px;
    cursor: pointer;
}

.dev {
    display: flex;
    flex-direction: column;
}

.socialIcons {
    margin: 10px;
}

@media screen and (max-width: 480px) {
    .container {
        height: 150px;
    }
    .cardOne {
        display: none;
    }

    .cardTwo {
        border-left: none;
        width: 50%;
    }
    .cardThree{
        width: 50%;
    }

    .social,
    .dev,
    .cardTwo {
        font-size: 13px;
    }
    .dev{
        margin-left: 10px;
    }

}