.container{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
}

.card{
    flex: 1;
    padding: 100px;
    scroll-padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.title {
    font-size: 50px;
    margin: 0;
}

.brand{
    color: #AAAAF2;
}

.desc{
    display: flex;
    align-items: center;
    background-color:#AAAAF2;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
    height: 150px;
    width: 600px;
}

.button {
    border: none;
    background-color: #AAAAF2;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:480px){
    .container{
        flex-direction: column;
    }

    .card{
        padding: 50px;
        align-items: center;
        justify-content: center;
        text-align:center;
    }

    .desc{
        display: none;
    }

    .title{
        font-size: 30px;
        margin-bottom: 20px;
    }
}